[submodule "themes/simple-dev-blog-zola-starter"]
	path = themes/simple-dev-blog
	url = https://github.com/bennetthardwick/simple-dev-blog-zola-starter
[submodule "themes/zola-slim"]
	path = themes/zola-slim
	url = https://github.com/jameshclrk/zola-slim
[submodule "themes/zola-pickles"]
	path = themes/zola-pickles
	url = https://github.com/lukehsiao/zola-pickles.git
[submodule "themes/zola-sam"]
	path = themes/zola-sam
	url = https://github.com/janbaudisch/zola-sam.git
